.dogBox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/background-footprints.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.name{
    font-size: 45px;
    padding: 20px;
}
.temps{
    display: flex;
    flex-direction: column;
}
.temps span{
    padding-left: 50px;
}
.image{
    width: 500px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 6px solid #810081;
}
.data{
    text-align: left;
    font-size: 25px;
}