.dogsContainer{
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.nostyle{
    text-decoration: none;
}
@media (max-width: 550px) {
    .dogsContainer{
        width: 100%;
    }    
}