.back{
    background-image: url(../assets/landing-background.webp);
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.appLogo{
    margin-top: 30px;
    width: 500px;
}
.inButton{
    margin-top: 20px;
    height: 70px;
    width: 450px;
    font-size: 32px;
    font-weight: 600;
    background-color: #414141;
    color: #fff;
    font-family: 'Mulish';
    border: none;
    border-radius: 99px;
}
.inButton:hover{
    cursor: pointer;
    transform: scale(1.02);
}

@media (max-width: 550px) {
    .back{
        justify-content: center;
    }
    .appLogo{
        width: 90%;
    }
    .inButton{
        width: 90%;
    }
}