.navBar{
    background: rgb(255, 255, 255);/*#00d4ff#52b7fb*/
    height: 80px;
    display: flex;
    width: 100%;
    border-bottom: 3px solid #000000;
}
.applogo{
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
}
.menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.links{
    font-size: 20px;
    margin: 0 20px;
    text-decoration: none;
    color: #414141;
}
.button{
    font-size: 20px;
    margin-left: 20px;
    height: 40px;
    background-color: #00000000;
    text-decoration: none;
    border: 1px solid #414141;
    border-radius: 99px;
    padding: 0 15px;
    color: #414141; 
}
.button:hover{
    cursor: pointer;
    color: #fff;
    background-color: #414141;
    border: 1px solid #414141;   
}

@media (max-width: 770px){
    .navBar{
        height: auto;
        flex-wrap: wrap;
    }
    .applogo{
        position: relative;
        width: 100%;
    }
}

@media (max-width: 550px){
    .navBar{
        height: auto;
        flex-wrap: wrap;
    }
    .applogo{
        position: relative;
        width: 100%;
    }
    .links,
    .button{
        margin: 0 10px;
    }
}

@media (max-width: 370px){
    .links,
    .button{
        font-size: 0.9rem;
        margin: 0 5px;
    }
    .applogo{
        margin-top: 20px;
        margin-left: 20px;
    }
    .menu{
        padding: 0;
    }
}