.formWrapper{
    background-color: #ececec;
    padding: 20px 0;
}
.title{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}
.forms{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputs{
    margin: 20px 0;
    height: 40px;
    width: 350px;
    border-radius: 5px;
    font-size: 20px;
}
.inputs:focus{
    border-color: #0099ff;
    outline: #0099ff;
}
.labels{
    font-size: 20px;
}
.doubleInp{
    display: flex;
    flex-direction: column;    
}
.inpPair{
    justify-content: space-around;
    text-align: right;
}
.addedTemp{
    width: 400px;
    margin-top: 20px;
    min-height: 40px;
    height: auto;
    border: 2px solid  #0099ff;
    border-radius: 5px;
    background-color: #fff;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.tempContainer{
    margin: 5px;
    width: auto;
    height: 35px;
    background-color: #414141;
    border: none;
    color: #fff;
    border-radius: 99px;
    display: flex;
}
.temperament{
    padding-top: 5px;
    padding-left: 15px;
    font-size: 20px;
}
.deleteTemp{
    background-color: #F00;
    font-weight: 600;
    border-radius: 99px;
    margin-top: 8px;
    line-height: 1;
    margin-right: 10px;;
    width: 20px;
    height: 20px;
    float: right;
    margin-left: 10px;
}
.deleteTemp:hover{
    cursor: pointer;
}
.inputFrag{
    margin: 15px;
    height: 40px;
    width: 70px;
    border-radius: 5px;
    font-size: 25px;
    text-align: center;
    padding-left: 10px;
}
.btn{
    margin: 15px 0;
    height: 50px;
    width: 200px;
    font-size: 20px;
    border-radius: 99px;
    background-color: #ffffff00;
    color: #414141;
    border: 1px solid #414141;
}
.btnDisabled{
    background-color: #838383; 
}
.btn:hover{
    cursor: pointer;
    color: #fff;
    background-color: #414141;
}
.error{
    border: 2px solid red;
}
.danger{
    color: red;
}